[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
flake8 = "*"
mypy = "*"
ptpython = "*"
black = "*"
pynvim = "*"
neovim = "*"
python-language-server = "*"
isort = "*"
pyls-black = "*"
pyls-mypy = "*"
pyls-isort = "*"
audapter = {editable = true,git = "https://github.com/borley1211/audapter.git"}

[packages]
numpy = "*"
matplotlib = "*"
padasip = "*"
commentjson = "*"
sounddevice = "*"
pysoundfile = "*"
pyalsaaudio = "*"
scipy = "*"
bashplotlib = "*"
cython = "*"
librosa = {editable = true,git = "https://github.com/librosa/librosa.git"}

[scripts]
sphinxgendoc = "_opt=''; if [ -e './docs/conf.py' ]; then; _opt='-f'; else; _opt='-F'; fi; sphinx-apidoc '${_opt}' -o ./docs ./ ./setup.py ./adaptune/config.py ./tests"
sphinxbuild = "sphinx-build -b html -a -E ./docs ./docs/_build"

[pipenv]
allow_prereleases = true
