[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
jupyter = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
flake8 = "*"
mypy = "*"
typing = "*"
pip = "*"
ptpython = "*"
pyls = "*"
black = "*"

[packages]
numpy = "*"
matplotlib = "*"
typing = "*"
librosa = "*"
padasip = "*"
commentjson = "*"
sounddevice = "*"
pysoundfile = "*"
yaspin = "*"
prompt-toolkit = "*"
pyalsaaudio = "*"
sympy = "*"

[scripts]
sphinxgendoc = "sphinx-apidoc -f -o ./docs ./ ./setup.py ./adaptune/config.py ./tests"
sphinxbuild = "sphinx-build -b html -a -E ./docs ./docs/_build"

[pipenv]
allow_prereleases = true
