[[source]]
name = "pywheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
flake8 = "*"
mypy = "*"
ptpython = "*"
pyls = "*"
black = "*"
pynvim = "*"
neovim = "*"

[packages]
numpy = "*"
matplotlib = "*"
typing = "*"
librosa = "*"
padasip = "*"
commentjson = "*"
sounddevice = "*"
pysoundfile = "*"
pyalsaaudio = "*"
sympy = "*"

[scripts]
sphinxgendoc = "_opt=''; if [ -e './docs/conf.py' ]; then; _opt='-f'; else; _opt='-F'; fi; sphinx-apidoc '${_opt}' -o ./docs ./ ./setup.py ./adaptune/config.py ./tests"
sphinxbuild = "sphinx-build -b html -a -E ./docs ./docs/_build"

[pipenv]
allow_prereleases = true
